@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4   ;
}
/* body::before{
    filter: blur(5px);
} */
.sidenav{
    /* border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #172b4d; */
    height: 100%;
    width: 16.30vw;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: #172b4d;
    overflow-x: hidden;
    padding-top: 20px;
}
.logo{
    font-family: 'Recursive','Roboto', sans-serif;
    letter-spacing: 1;
    font-size: 2rem;
    font-weight: 1000;
    color:#ffffff;
    padding: 2.5rem 1.6rem 5rem 1.5rem;
    /* border-bottom: 3px solid #1b2f50; */
}
.menu li{
    padding: 15px 6px 15px 32px;
    /* text-decoration: none; */
    font-size: 25px;
    color: #86a9c2;
    display: block;
    border-bottom: 2px solid #1b2f50;
}
.menu .home{
    border-top:2px solid  #1b2f50 ;

}
.menu .home i{
    font-size: 20;
    color:#2dce89;
}
.menu .ask i{
    font-size: 20;
    color:#2dce89;
}
.menu .login i{
    font-size: 20;
    color:#2dce89;
}
.menu .signup i{
    font-size: 20;
    color:#2dce89;
}
.menu .about i{ 
    font-size: 20;
    color:#2dce89;
}
.menu .profile i{
    font-size: 20;
    color:#2dce89;
}
.menu .LogOut i{
    font-size: 20;
    color:#2dce89;
}
.menu .home a{
    padding-left: .5rem;
}
.menu li a:hover{
    color: white;
    /* border-bottom: 3px solid #1b2f50; */
}
.menu li a{
    /* margin: 1.5rem 0; */
    /* padding: 3rem 0; */
    text-decoration: none;
    color: #86a9c2;
    transition: all .3s ease;
    font-family: 'Recursive','Roboto', sans-serif;
    font-size: 20px;
}
.menu .login,.menu .signup{
    font-weight: 700;
}
.navbar{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #0a48b3;
    border-bottom: 2px solid #1b2f50;
    list-style-type:none;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Recursive', sans-serif;
    width: 83.7%;
    position: absolute;
    right: 0;
}
.navbar li{
    float: left;
    padding: .5rem 1rem;
    /* border: 1px solid black; */
    margin: 0 .5rem;
    /* border-radius: 10px; */
    transition: all .3s ease;
    cursor: pointer;
    /* background-color: #ffffff; */
}
.navbar .que{
    border: 2px solid black;
    background-color: #1b2f50;
    border-radius: 50px;
    padding: .5rem 1rem .5rem .2rem;
}
.bi{
    font-size: 15px;
    color: white;
    padding: 0 .8rem ;
}
.navbar .que .search{
    padding: .4rem 6rem .4rem .2rem;
    border: none;
    background: none;
    outline: none;
    width: 15rem;
    color: white;
}
.navbar .welcome .bi-person-fill{
    font-size: 20;
    color: #2dce89;
}
.navbar li a{
    margin: 1.5rem 0;
    text-decoration: none;
    color: white;
    transition: all .3s ease;
}
.container{
    background-color: #0a48b3;
    border-bottom: 2px solid #1b2f50;
    color: white;
    width: 100%;
    height: 40vh;
}
.container .tag-line1{
    color: white;
    font-size: 40px;
    font-family: 'Recursive', sans-serif;
    padding: 10rem 0 0 20rem;
}
/* .container p{
    padding: 3rem 0 0 10rem;
} */
.container .tag-line2{
    padding: 1rem 0 0 20rem;
    color: white;
    font-size: 20px;
    font-family: 'Recursive', sans-serif;
}
/* .path{
    background-color: #0a48b3;
    border-bottom: 2px solid #1b2f50;
    color: white;
    width: 100%;
    height: 5vh;
}
.path i{
    margin: 0rem 0 0 20rem;
    padding-top: 100px;
    padding-top: 1000rem; 
    border: 2px solid black; 
} */
.questions{
    width: 100%;
    height: 100%;
    background-color: white;
}
.searched{
    border-bottom: 2px solid black;
    margin: 2rem auto auto auto;
    width: 60%;
    font-family: 'Recursive','Roboto', sans-serif;
}
.search-ques{
    margin: 5rem auto;
    width: 60%;
    background-color: #ffff;
    /* border:2px solid black; */
    border-radius: 5px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive', sans-serif;
}
.search-ques .search{
    margin: 0 0 0 3rem;
    border: 1px solid  rgb(189, 188, 188);
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px 0 0 5px;
    padding: .9rem 1rem;
    width: 40vw;
}
.search-ques a i{
    color: white;
    /* border: 2px solid black; */
    padding: .99rem 1rem;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    /* border-collapse: collapse; */
    background-color: #275fbe;
    font-weight: 1000;
}
.search-ques .submit{
    margin: 0 2rem 0 0;
    padding: 1rem 2rem 1rem 2rem;
    /* max-width: 15vw; */
    border-radius: 0 5px 5px 0;
    background: #2dce89 linear-gradient(to right, #275fbe, #275fbe 50%, #2dce89 50%);
    background-clip: text;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    color: white;
    font-weight: bold;
    border: none;
    text-decoration: none;
}
.search-ques .submit:hover{
    /* background-color: #2dce89; */
    background-position: 0 100%;
}
.search-ques .ask{
    margin: 0 2rem 0 1rem;
    padding: 1rem 2rem 1rem 2rem;
    /* max-width: 15vw; */
    border-radius: 5px;
    background: #2dce89 linear-gradient(to right, #275fbe, #275fbe 50%, #2dce89 50%);
    background-clip: text;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    color: white;
    font-weight: bold;
    border: none;
    text-decoration: none;
}
.search-ques .ask:hover{
    /* background-color: #2dce89; */
    background-position: 0 100%;
}
.ques-box{
    /* border: 2px solid black; */
    margin: 2rem auto 0 auto;
    width: 60%;
    font-family: 'Recursive','Roboto', sans-serif;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}
.ques-box .que-box{
    font-family: 'Recursive','Roboto', sans-serif;
    border-bottom: 2px solid black;
    margin: .5rem auto auto auto;
    padding: 1rem 0 2rem 0;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}
.que-box .bi{
    color: black;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.question-box{
    /* border: 2px solid black; */
    margin: 2rem auto 0 auto;
    width: 60%;
    font-family: 'Recursive','Roboto', sans-serif;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}
.question{
    font-family: 'Recursive','Roboto', sans-serif;
    border-bottom: 2px solid black;
    margin: .5rem auto auto auto;
    padding: 1rem 0 2rem 0;
    width: 90%;
}
.quelist{
    border: none;
    font-size: 15px;
}
.id{
    border: none;
    font-size: 15px;
    /* visibility: hidden; */
}
.details{
    font-family: 'Recursive','Roboto', sans-serif;
    margin: .5rem auto auto auto;
    padding: 0 0 .5rem 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.btns{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
}
.ans-btn{
    font-family: 'Recursive','Roboto', sans-serif;
    background-color:#303C6C;
    color: white;
    padding: .5rem 1rem ;
    cursor: pointer;
    margin: 0 .5rem;
    text-decoration: none;
}
.footer{
    margin-top: 5rem;
    height: 10rem;
    width: 100%;
    background-color: black;
    color: white;
}