@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4   ;
}
/* body::before{
    filter: blur(5px);
} */
.sidenav{
    /* border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #172b4d; */
    height: 100%;
    width: 16.30vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #172b4d;
    /* background-color: none; */
    overflow-x: hidden;
    padding-top: 20px;
}
.logo{
    font-family: 'Recursive','Roboto', sans-serif;
    letter-spacing: 1;
    font-size: 2rem;
    font-weight: 1000;
    color:#ffffff;
    padding: 2.5rem 1.6rem 5rem 1.5rem;
    /* border-bottom: 3px solid #1b2f50; */
}
.menu li{
    padding: 15px 6px 15px 32px;
    /* text-decoration: none; */
    font-size: 25px;
    color: #86a9c2;
    display: block;
    border-bottom: 2px solid #1b2f50;
}
.menu .home{
    border-top:2px solid  #1b2f50 ;

}
.menu .home i{
    font-size: 20;
    color:#2dce89;
}
.menu .ask i{
    font-size: 20;
    color:#2dce89;
}
.menu .login i{
    font-size: 20;
    color:#2dce89;
}
.menu .signup i{
    font-size: 20;
    color:#2dce89;
}
.menu .about i{ 
    font-size: 20;
    color:#2dce89;
}
.menu .home a{
    padding-left: .5rem;
}
.menu .profile i{
    font-size: 20;
    color:#2dce89;
}
.menu .profile i{
    font-size: 20;
    color:#2dce89;
}
.menu li a:hover{
    color: white;
    /* border-bottom: 3px solid #1b2f50; */
}
.menu li a{
    /* margin: 1.5rem 0; */
    /* padding: 3rem 0; */
    text-decoration: none;
    color: #86a9c2;
    transition: all .3s ease;
    font-family: 'Recursive','Roboto', sans-serif;
    font-size: 20px;
}
.menu .login,.menu .signup{
    font-weight: 700;
}
.navbar{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #0a48b3;
    border-bottom: 2px solid #1b2f50;
    list-style-type:none;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Recursive', sans-serif;
    width: 83.7%;
    position: absolute;
    right: 0;
}
.navbar li{
    float: left;
    padding: .5rem 1rem;
    /* border: 1px solid black; */
    margin: 0 .5rem;
    /* border-radius: 10px; */
    transition: all .3s ease;
    cursor: pointer;
    /* background-color: #ffffff; */
}
.navbar .que{
    border: 2px solid black;
    background-color: #1b2f50;
    border-radius: 50px;
    padding: .5rem 1rem .5rem .2rem;
}
.bi{
    font-size: 15px;
    color: white;
    padding: 0 .8rem ;
}
.navbar .que .search{
    padding: .4rem 6rem .4rem .2rem;
    border: none;
    background: none;
    outline: none;
    width: 15rem;
    color: white;
}
.navbar .welcome .bi-person-fill{
    font-size: 20;
    color: #2dce89;
}
.navbar li a{
    margin: 1.5rem 0;
    text-decoration: none;
    color: white;
    transition: all .3s ease;
}
.container{
    background-color: #0a48b3;
    border-bottom: 2px solid #1b2f50;
    color: white;
    width: 100%;
    height: 40vh;
}
.container .tag-line1{
    color: white;
    font-size: 40px;
    font-family: 'Recursive', sans-serif;
    padding: 10rem 0 0 20rem;
}
/* .container p{
    padding: 3rem 0 0 10rem;
} */
.container .tag-line2{
    padding: 1rem 0 0 20rem;
    color: white;
    font-size: 20px;
    font-family: 'Recursive', sans-serif;
}
.error{
    margin: 4rem auto -2rem auto;
    width: 25%;
    padding: .4rem 0 .4rem 1rem;
    text-align: center;
    border-left: 9px solid #FF6600;
    border-radius: 5px;
    background-color: #FFC199;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: flex-start;
}
.err i{
    color: black;
    font-size: large;
    font-weight: 900;
}
.card {
    font-family: sans-serif;
    width: 500px;
    margin: 3rem auto  ;
    border-radius: 10px;
    background-color: #ffff;
    padding: 2rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}
.email-login {
    display: flex;
    flex-direction: column;
}
.email-login label{
    color: rgb(170 166 166);
}
.email-input,.fname-input,.psw-input,.repsw-input,.bio-input{
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}  
.gender{
    color: rgb(170 166 166);
    margin: .5rem 0 1rem 0;
}
.gender b {
    margin-right: 1rem;
}
.gender-label{
    margin-right: 1rem;
    color: black;
}
.gender-input {
    margin-right: .5rem;
}
.sub-btn {
    background-color: rgb(69, 69, 185);
    color: white;
    padding: 18px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 900;
    font-family: 'Recursive', sans-serif;
}
.sub-btn:hover{
    background-color: rgb(69, 100, 185);
}
